<%= link_to 'New Member', new_member_path %>

<br />

<table>
  <thead>
    <tr>
      <th>Member</th>
      <th>Url</th>
      <th>Short URL</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.name, member %></td>
        <td><%= member.url %></td>
        <td><%= member.short_url %></td>
      </tr>
    <% end %>
  </tbody>
</table>
